<div class="container-fluid d-flex align-items-center justify-content-center"
    style="min-height: 100vh; background-color: #0D1117;">
    <div class="login-container">
        <div class="card text-center" style="width: 22rem;">
            <div class="card-body">
                <h3 class="card-title text-white mb-4">Actualizar Contraseña</h3>

                <div *ngIf="recoverError" class="alert form-group">
                    No se pudo realizar el proceso de creacion de contraseña, realice la solicitud nuevamente.
                </div>
                <div *ngIf="registrationSuccess" class="alert alert-success form-group">
                    Se actualizo la contraseña correctamente
                    <p>Serás redirigido a la página de inicio de sesión en {{ countdown }} segundos...</p>
                </div>
                <div *ngIf="!recoverError">
                    <div *ngIf="!registrationSuccess">
                        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                            <div class="form-group">
                                <input type="password" formControlName="password" class="form-control"
                                    placeholder="Nueva Contraseña">
                            </div>
                            <div class="form-group">
                                <input type="password" formControlName="confirmPassword" class="form-control"
                                    placeholder="Confirmar Contraseña">
                                <div *ngIf="resetForm.errors?.['mismatch']">
                                    Las contraseñas no coinciden.
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="!resetForm.valid">Restablecer Contraseña</button>
                               
                            </form>
                    </div>
                </div>
                <button type="button" class="btn btn-link" (click)="navigateToLogin()">Ir a login</button>
            </div>
        </div>
    </div>
</div>