/* Estilos adicionales para el fondo y la tarjeta */
.container-fluid {
    background: #0D1117; /* Color de fondo de la pantalla completa */
    color: #fff; /* Color del texto */
  }
  
  .card {
    background: transparent; /* Fondo transparente para la tarjeta */
    border: none; /* Sin bordes */
  }
  
  /* Estilos para los inputs y botones */
  .form-control {
    background-color: #161B22; /* Fondo para los inputs */
    border: 1px solid #30363D; /* Borde para los inputs */
    color: #C9D1D9; /* Color del texto de los inputs */
    border: 1px solid #6c757d; /* Borde gris para los inputs */
    color: #C9D1D9; /* Color del texto de los inputs */
  }
  
  .form-control:focus {
    background-color: #161B22;
    border-color: #58A6FF; /* Borde cuando el input está enfocado */
    box-shadow: none; /* Sin sombra al enfocar */
  }
  
  .btn-primary {
    background-color: #238636; /* Fondo para el botón de login */
    border: none; /* Sin bordes */
  }
  
  .btn-primary:hover {
    background-color: #2EA043; /* Fondo cuando se pasa el ratón por encima */
  }
  
  .btn-link {
    color: #58A6FF; /* Color para los botones de enlace */
    font-weight: bold;
  }
  
  .btn-link:hover {
    color: #1F6FEB; /* Color cuando se pasa el ratón por encima */
  }
  
  /* Asegurarse de que los botones ocupen todo el ancho disponible */
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .login-container {
    border: 1px solid #6c757d; /* Ajusta el color y el ancho del borde según sea necesario */
    border-radius: 8px; /* Añade bordes redondeados si lo deseas */
    padding: 20px; /* Añade relleno para separar el contenido del borde */
    margin: auto; /* Centra el contenedor */
    width: fit-content; /* Asegúrate de que el contenedor se ajuste al contenido */
    background-color: #161B22; /* Color de fondo para el contenedor del formulario */
  }