<div class="container-fluid d-flex align-items-center justify-content-center"
    style="min-height: 100vh; background-color: #0D1117;">
    <div class="login-container">
        <div class="card text-center" style="width: 22rem;">
            <div class="card-body">
                <h3 class="card-title text-white mb-4">Recuperar Contraseña</h3>
                <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">
                    <div *ngIf="recoverError" class="alert form-group">
                        No se pudo enviar el correo. El correo no ha sido registrado.
                    </div>
                    <div *ngIf="registrationSuccess" class="alert alert-success form-group">
                         Se ha enviado un correo electrónico para reestablecer tu
                        contraseña.
                        <p>Serás redirigido a la página de inicio de sesión en {{ countdown }} segundos...</p>
                    </div>
                    <div *ngIf="!registrationSuccess">
                        <div class="form-group">
                            <input type="email" formControlName="correo" class="form-control"
                                placeholder="Correo Electrónico">
                            <div *ngIf="recoverForm.get('correo')?.errors?.['required']" class="alert form-group">
                                El correo es requerido.
                            </div>
                            <div *ngIf="recoverForm.get('correo')?.errors?.['email']" class="alert form-group">
                                Por favor ingresa un correo válido.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Enviar Instrucciones</button>
                        <button type="button" class="btn btn-link" (click)="navigateToLogin()">Atras</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>